<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h1>Image classification of animals and objects</h1>
  <p>Please upload only jpg, jpeg and png files.</p>
  <p>VGG16 model is trained on imagenet dataset. There are total 1000 classes that can be predicted.</p>
  <p>This model will predict to which class your image belongs.</p>
<form method="POST" action = "http://127.0.0.1:8000/uploadfile/image" enctype="multipart/form-data">
  <input type="file" name = "file">
  <button type="submit">Submit</button>
</form>
</body>
</html>
